body{
    background-color: black;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}
img{
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-top: 50px;
    cursor: pointer;
}